.activeOwn{
	border-bottom: 1px #69ba29 solid;
}

.differentH:hover{
	border-bottom:1px #69ba29 solid;
}

.bs-callout {
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #3A8AD3;
  border-right:1px solid #3A8AD3;
  border-bottom: 1px solid #3A8AD3;
  border-radius: 5px;
  border-top: 1px solid #3A8AD3;
}

.tt-panel {
	background-color: #69ba29;
}

.tt-header {
	width: 100%;
	height: 50px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 2px solid #3A8AD3;
	display: table;
	vertical-align: middle;
	text-align: center;

}

.tt-header-text{
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	font-family: "american typewriter";
}