<snap-drawers>
<snap-drawer-left>
<!-- LEFT DRAWER CONTENT STARTS HERE -->

    Left drawer stuff!

<!-- LEFT DRAWER CONTENT ENDS HERE -->
</snap-drawer-left>
</snap-drawers>

<snap-content>

<!-- this is the button to open and close the drawer -->
<button style="float:left;" snap-toggle><i class="glyphicon glyphicon-hand-left"></i></button><br><br><br>
<!-- MAIN CONTENT STARTS HERE -->

	<p><b>{{title}}</b></p>
	<p>The view for this page is<b> views/{{view}}</b></p>
	<p>The controller for this page is:<b> controllers/{{controller}}</b></p>

<!-- MAIN CONTENT ENDS HERE -->
</snap-content>s