<!doctype html>
<html>
<body>
  <br><br><br><br>

  <div class="panel">

    <div class="panel-heading tt-panel"><b style="font-size : 2em;color : white">Data Item Display</b>
    </div>

    <div class="panel-body">
      <!--Form referncing the HTTP controller-->
      <div loading-indicator></div>
      <hr>
      <div ng-controller="httpCtrl">

        <div class = "row">
          <div class = "col-sm-12 col-md-3">

            <div class = "tt-header"> 
              <div class = "tt-header-text">Input Your Filter</div>
            </div>

            <div class = "bs-callout">
              <form class="form-horizontal" role="form">

                <div class="form-group">

                  <div class="col-sm-12">    
                    <label for="inputItemNumber" class="control-label">Item Number</label>
                  </div>

                  <div class="col-sm-12">
                    <input type="number" class="form-control" id="inputItemNumber" placeholder="Item Number">
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-sm-12">
                    <label for="inputItemName" class="control-label">Name</label>
                  </div>

                  <div class="col-sm-12">
                    <input type="password" class="form-control" id="inputItemName" placeholder="Item Name">
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-sm-12">
                    <label for="inputItemArea" class="control-label">Area</label>
                  </div>

                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputItemArea" placeholder="Item Area">
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-sm-12">
                    <label for="inputItemType" class="control-label">Type</label>
                  </div>

                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputItemType" placeholder="Item Type">
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-sm-12">
                    <label for="inputItemArea" class="control-label">Area</label>
                  </div>

                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputItemArea" placeholder="Item Area">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class ="btn btn-inverse btn-block" >Reset</button>
                  </div>
                </div>
              </form>
            </div>  

            

          </div>

          <div class = "col-sm-12 col-md-9">
            <div class = "well">
              <table class = "table">

                <thead>
                  <tr>
                    <td>#Number</td>
                    <td>Name</td>
                    <td>Location</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>


        <div data-ng-repeat="item in data.itm" ng-if="item.DB > 0">

          <div class="panel panel-warning">
            <div class="panel-heading"><b>Results</b></div>
            <div class="panel-body">
              <!--Placeholder for the results-->
              <pre ng-model="result">{{data}}</pre>
              <hr>

              <table class="table table-striped table-bordered">
                <thead> 
                  <tr>
                    <th>Item ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Area</th>
                    <th>Item Type</th>
                    <th>Value type</th>
                    <th>Origin</th>
                    <th>Last Change</th>
                    <th>Count</th>
                    <th>DB</th>
                    <th>Val Table</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="item in data.itm | filter:searchText">
                    <td>{{ item.ItemID }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Description }}</td>
                    <td>{{ item.Location }}</td>
                    <td>{{ item.Area }}</td>
                    <td>{{ item.ItemType }}</td>
                    <td>{{ item.ValueType }}</td>
                    <td>{{ item.Origin }}</td>
                    <td>{{ item.LastChange }}</td>
                    <td>{{ item.Count }}</td>
                    <td>{{ item.DB }}</td>
                    <td>{{ item.ValTable }}</td>
                  </tr>
                </tbody>
              </table>    
              <br>
              <div data-ng-repeat="exp in data.exp" ng-if="exp.exp_id > 0">
                <table class="table table-striped table-bordered">
                  <thead> 
                    <tr>
                      <th>Export Id</th>
                      <th>Name</th>
                      <th>Owner</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="exp in data.exp | filter:searchText">
                      <td>{{ exp.exp_id }}</td>
                      <td>{{ exp.name }}</td>
                      <td>{{ exp.owner }}</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <br>

              <div data-ng-repeat="seq in data.seq" ng-if="seq.seq_id > 0">
                <table class="table table-striped table-bordered">
                 <thead> 
                   <tr>
                     <th>Sequence Id</th>
                     <th>Start</th>
                     <th>End</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr data-ng-repeat="seq in data.seq | filter:searchText">
                     <td>{{ seq.seq_id }}</td>
                     <td>{{ seq.start_se }}</td>
                     <td>{{ seq.end_se }}</td>   
                   </tr>
                 </tbody>
               </table> 
             </div>   
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</body>
</html>






